.pizza-list {
    display: grid; 
    grid-row-start: auto; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: black;
    margin: 50px 50px 50px 50px;
    padding: 10px;
    justify-content: space-between;
}

.go-to-form-btn {
    width: 60px;
    height: 60px;
    justify-self:last baseline;
    align-self:last baseline;
}