#customer-form {
  margin: 25px 300px;
  display: grid;

  grid-template-columns: 1fr 100px;

  grid-template-areas: "left right";
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  grid-column: 1 / 2;
}

#next-btn {
  grid-column: 2/3;
}
