#customer-form {
  width: 60%;
  margin: auto;
  display: grid;

  grid-template-columns: 1fr 140px;

  grid-template-areas: "left right";
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  grid-column: 1 / 2;
}

#button-group {
  grid-column: 2/3;
}
